*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 46, 45);
    padding: 10px;
}
header h2{ 
   color: rgb(79, 182, 79);

}
main{
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgb(61, 69, 77);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.song-image{
    width: 250px;
    height: 250px;
    background-image: url("https://images.unsplash.com/photo-1499415479124-43c32433a620?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG11c2ljfGVufDB8fDB8fHww");
    border-radius: 50%;
    background-size: cover;
    box-shadow: 2px 2px 10px black,-2px -2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume-img{
    width: 28px;
    height: 28px;
    color: white;
    padding: 10px;
}
.volume-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

}
.volume-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    background: transparent;
    box-shadow: 2px 2px 10px rgba(121, 119, 119, 0.8),-2px -2px 10px rgba(0,0,0,0.80),-2px -2px 10px rgba(0,0,0,0.80),-2px -2px 10px rgba(0,0,0,0.80);
}
#volume-range{
    -webkit-appearance: none;
    width: 40%;
    height: 5px;
    background: linear-gradient(to right,rgb(66, 148, 173),rgb(101, 173, 33));
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(58, 48, 48),-2px -2px 10px rgb(87, 77, 77);
}
#volume-range::-webkit-slider-thumb{
    -webkit-appearance:none;
    height: 16px;
    width: 16px;
    background-color: rgb(165, 73, 102);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(58, 48, 48),-2px -2px 10px rgb(87, 77, 77);
}
#volume-range::-webkit-slider-thumb:hover{
    transform: scale(120%);
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.details{
    width: 80%;
    height: 100px;
    box-shadow: 2px 2px 10px rgba(121, 119, 119, 0.8),-2px -2px 10px rgba(0,0,0),-2px -2px 10px rgba(0,0,0),-2px -2px 10px rgba(0,0,0);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;


}
#song-name{
    font-size: 25px;
    color: rgb(72, 139, 51);
}
#song-artist{
    font-size: 15px;
    color: rgb(224, 231, 222);
}
#song-duration{
    -webkit-appearance: none;
    width: 60%;
    height: 5px;
    background: linear-gradient(to right,rgb(66, 148, 173),rgb(101, 173, 33));
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(31, 26, 26),-2px -2px 10px rgb(31, 18, 18);
}
#song-duration::-webkit-slider-thumb{
    -webkit-appearance:none;
    height: 16px;
    width: 16px;
    background-color: rgb(165, 73, 102);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(211, 51, 51),-2px -2px 10px rgb(202, 43, 43);
}
#song-duration::-webkit-slider-thumb:hover{
    transform: scale(120%);
}
.controls{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.prev-img,.play-pause,.next-img{
    padding: 9.5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    background: transparent;
    box-shadow: 2px 2px 10px rgba(121, 119, 119, 0.8),-2px -2px 10px rgba(0,0,0,0.80),-2px -2px 10px rgba(0,0,0,0.80),-2px -2px 10px rgba(0,0,0,0.80);
}
.prev-img:hover,.play-pause:hover,.next-img:hover{
    box-shadow: inset 2px 2px 10px rgba(121, 119, 119, 0.8),inset -2px -2px 10px rgba(0,0,0,0.80),inset -2px -2px 10px rgba(0,0,0,0.80),inset -2px -2px 10px rgba(0,0,0,0.80);
    transform: scale(80%);
}
#music-anime{
    position: absolute;
    display: none;
    top: 32%;
    left: 10%;
    width: 150px;
    border: none;
    outline: none;
    /* border-radius: 30%; */
    filter: drop-shadow( 2px 4px 10px rgb(228, 238, 228)) ;
}
.playlist{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.328);
    -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); 
   transform: translateX(-100%);
   opacity: 1;
   transition: all 0.5s ;
   box-shadow: 2px 2px 10px rgb(24, 21, 21),-2px -2px 10px rgba(0,0,0);
   display: flex;
  
   flex-direction: column;
   gap: 10px;
}
.playlist-active{
    transform: translate(0);
}
.playlist-song{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(62, 71, 78);
    gap:10px;
    cursor: pointer;
}
.playlist-song:hover{
    background-color: rgb(91, 119, 119,0.156);
}
.playlist-song img{
    width: 100px;
    border-radius: 0px 20px 20px 0px ;
    box-shadow: 2px 2px 10px rgb(0,0,0);
}
.song-details{
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 3px
}
.playlist-song h2{
    color: rgb(22, 252, 252);
}
.playlist-song h4{
    color: rgb(214, 221, 223);
}
#playlist-img{
    cursor: pointer;
}
@media(max-width:900px){
    main{
        flex-direction: column;
    }
    .left,.right{
width: 100%;
    }
    .song-image{
        width: 60vw;
        height: 60vw;
        margin: 20px;
    }
    .playlist{
        width: 100%;
    }
}